<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ApiKey" value="PYjIuwfgGFJbiRcX8U9bmioPyehJ7JPtWc4F3PCT5sFH4TbtlaEtPxQtSLysZ4Bs" />
    <add key="ApiUrl1" value="https://b10imdevapi.azurewebsites.net/v2" />
    <add key="ApiUrl" value="http://localhost:52476" />  
  </appSettings>
</configuration>